{% extends 'base.html.twig' %}

{% block title %}Salut l'ami !{% endblock %}

{% block body %}

<section class="articles">

{% for article in articles %}

    <article>
        <h2>{{article.title}}</h2>
        <div class="metadata">Écrit le {{article.createAt | date('d/m/Y')}} à {{article.createAt|date('H:i')}} dans la catégorie {{ article.category.title }}</div>
            <img src="{{article.image}}" alt="">
            {{article.content|raw}}
            <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
            <a href="{{ path('blog_edit', {'id': article.id}) }}" class="btn btn-primary">Éditer l'article</a>
        </div>
    </article>

    <hr>

{% endfor %}

</section>

{% endblock %}